<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-success" href="#" style="font-size: 25px;"><i class="fab fa-spotify mr-1" style="font-size: 27px;"></i> Spoti-App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link text-light" [routerLink]="['home']"
            routerLinkActive="active disabled">Home <i class="fas fa-laptop-house"></i><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['artists']"
            routerLinkActive="active disabled">Artists <i class="fas fa-user-tie"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['search']"
            routerLinkActive="active disabled">Search <i class="fas fa-search-location"></i></a>
        </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
</nav>